<template name="TEMPLATE_NAME_GOES_HERE">

    {{#if subsAndDataReady}}

        <div class="FILE_NAME_GOES_HERE" hook="FILE_NAME_GOES_HERE">



        </div>

    {{else}}

        {{> spinner}}

    {{/if}}

</template>
