<template name="componentPlayerActions">

    {{#if subsAndDataReady}}

        <div class="component-player-actions" hook="component-player-actions">

            {{#if eq team._id player.teamId}}
                <button class="button button-red" hook="fire">Fire This Player</button>
            {{else}}
                <button class="button">Scout This Player (1 Intel)</button>
                <button class="button" hook="hire">Hire This Player (50 Gold)</button>
            {{/if}}

        </div>

    {{else}}

        {{> spinner}}

    {{/if}}

</template>
