<template name="componentTeamRecord">

    {{#if subsAndDataReady}}

        <div class="component-team-record" hook="component-team-record">

            <section class="record">
                <div class="wins">
                    <small>Wins</small>
                    <big>
                        {{#if team.stats.season1.wins}}
                            {{team.stats.season1.wins}}
                        {{else}}
                            0
                        {{/if}}
                    </big>
                </div>
                <div class="losses">
                    <small>Losses</small>
                    <big>
                        {{#if team.stats.season1.losses}}
                            {{team.stats.season1.losses}}
                        {{else}}
                            0
                        {{/if}}
                    </big>
                </div>
                <div class="draws">
                    <small>Draws</small>
                    <big>
                        {{#if team.stats.season1.draws}}
                            {{team.stats.season1.draws}}
                        {{else}}
                            0
                        {{/if}}
                    </big>
                </div>
            </section>

        </div>

    {{else}}

        {{> spinner}}

    {{/if}}

</template>
