body {
	overflow-x: hidden; /* Hide horizontal scrollbar */
}
.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
}

.content > * {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.content.fade {
    left: 0;
    opacity: 0;
}
.content.fade.in {
    opacity: 1;
}
.content.sliding {
    z-index: 2;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition:    -moz-transform .4s;
    transition:         transform .4s;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.content.sliding.left {
    z-index: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.content.sliding.right {
    z-index: 3;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
