<template name="componentNavbar">

        <div id="component-navbar" class="component-navbar" hook="component-navbar">

			{{#if page.actions.previous}}
				<div class="navbar-left">
					<a href="{{page.actions.previous.link}}" class="navigate-left">Back</a>
				</div>
			{{else}}
				{{#if getPreviousPage}}	
					<div class="navbar-left">
						<a href="{{getPreviousPage}}" class="navigate-left">Back</a>
					</div>
                {{else}}
                    <div class="navbar-left">
                        <a href="{{pathFor 'pageHome'}}">Home</a>
                    </div>
				{{/if}}
			{{/if}}
			
			{{page.title}}
			
			{{#if page.actions.next}}
				<div class="navbar-right">
					<a href="{{page.actions.next.link}}" class="navigate-right">{{page.actions.next.text}}</a>
				</div>
			{{/if}}

        </div>

</template>
