Router.route(
	'/page/path/goes/here',
	{
		// Route name
		name: '',

		// Page Data
		data: function() {

			// Page title to display in top navbar
			const title = '';

			// Page params
			const params = this.params;

			// Team object - the team being played right now
			// const team = new Team({ teamId: this.params.teamId });

			// Action buttons to display in the top navbar
			const actions = {
				previous: {
					link: Router.path('')
				},
				next: {
					link: Router.path(''),
					text: ''
				}
			}

			return { params, title, actions, team };

		}

	},

);
