import { Router } from 'meteor/meteorhubdotnet:iron-router';

Router.route(
	'/ROUTE/PATH/GOES/HERE',
	{
		// Route name
		name: 'TEMPLATE_NAME_GOES_HERE',
		
		// Page Data
		data: {
			title: 'PAGE_TITLE_GOES_HERE',
		}

	},

);
