<template name="componentPlayerCard">

    {{#if subsAndDataReady}}

        <div id="component-player-card" class="component-player-card" hook="component-player-card">

            <a href="{{#if linkToPlayerPage}}{{pathFor 'pagePlayerDetails' teamId=page.team._id playerId=player._id}}{{/if}}">

                <player>

                    <overview>
                        <info>
                            <name>
                            {{player.firstName}} {{player.lastName}}
                            </name>
                            <position>
                                {{player.position}}
                            </position>
                        </info>

                        <overall>
                            {{playerRating player=player}}
                        </overall>
                    </overview>

                    <stats>
                        <stat>
                            STR
                            <rating>{{player.strength}}</rating>
                        </stat>
                        <stat>
                            DEX
                            <rating>{{player.dexterity}}</rating>
                        </stat>
                        <stat>
                            FOR
                            <rating>{{player.fortitude}}</rating>
                        </stat>
                        <stat>
                            ANT
                            <rating>{{player.anticipation}}</rating>
                        </stat>
                        <stat>
                            QUI
                            <rating>{{player.quickness}}</rating>
                        </stat>
                        <stat>
                            THR
                            <rating>{{player.throwing}}</rating>
                        </stat>
                        <stat>
                            CAT
                            <rating>{{player.catching}}</rating>
                        </stat>
                        <stat>
                            EVA
                            <rating>{{player.evade}}</rating>
                        </stat>
                        <stat>
                            GOR
                            <rating>{{player.gore}}</rating>
                        </stat>
                        <stat>
                            MAZ
                            <rating>{{player.maze}}</rating>
                        </stat>
                    </stats>

                    <report>
                        <looks>
                            Scouting: None
                        </looks>
                    </report>
                    <season>
                        SEASON:
                        {{#if player.stats.season1.games}}{{player.stats.season1.games}}{{else}}0{{/if}} MATCHES
                        &bull;
                        {{#if player.stats.season1.scores}}{{player.stats.season1.scores}}{{else}}0{{/if}} SCORES
                        &bull;
                        {{#if player.stats.season1.gores}}{{player.stats.season1.gores}}{{else}}0{{/if}} GORES
                    </season>
                    <career>
                        CAREER:
                        {{#if player.stats.career.games}}{{player.stats.career.games}}{{else}}0{{/if}} MATCHES
                        &bull;
                        {{#if player.stats.career.scores}}{{player.stats.career.scores}}{{else}}0{{/if}} SCORES
                        &bull;
                        {{#if player.stats.career.gores}}{{player.stats.career.gores}}{{else}}0{{/if}} GORES
                    </career>

                </player>

            </a>

        </div>

    {{else}}

        {{> spinner}}

    {{/if}}

</template>
