<template name="componentPlayerCard">

    {{#if subsAndDataReady}}

        <div id="component-player-card" class="component-player-card" hook="component-player-card">

            <player>

                <overview>
                    <info>
                        <name>
                        {{player.firstName}} {{player.lastName}}
                        </name>
                        <position>
                            {{player.position}}
                        </position>
                    </info>

                    <overall>
                        {{playerRating player=player}}
                    </overall>
                </overview>

                <stats>
                    <stat>
                        STR
                        <rating>{{player.strength}}</rating>
                    </stat>
                    <stat>
                        DEX
                        <rating>{{player.dexterity}}</rating>
                    </stat>
                    <stat>
                        FOR
                        <rating>{{player.fortitude}}</rating>
                    </stat>
                    <stat>
                        ANT
                        <rating>{{player.anticipation}}</rating>
                    </stat>
                    <stat>
                        QUI
                        <rating>{{player.quickness}}</rating>
                    </stat>
                    <stat>
                        THR
                        <rating>{{player.throwing}}</rating>
                    </stat>
                    <stat>
                        CAT
                        <rating>{{player.catching}}</rating>
                    </stat>
                    <stat>
                        EVA
                        <rating>{{player.evade}}</rating>
                    </stat>
                    <stat>
                        GOR
                        <rating>{{player.gore}}</rating>
                    </stat>
                    <stat>
                        MAZ
                        <rating>{{player.maze}}</rating>
                    </stat>
                </stats>

                <report>
                    <looks>
                        Scouting: None
                    </looks>
                    {{#if linkToPlayerPage}}
                        <more>
                            <a href="{{pathFor 'pagePlayerDetails' teamId=page.team._id playerId=player._id}}">
                                View&nbsp;Details
                            </a>
                        </more>
                    {{/if}}
                </report>

            </player>

        </div>

    {{else}}

        {{> spinner}}

    {{/if}}

</template>
