<template name="componentPlayButton">

    {{#if subsAndDataReady}}

        <div class="component-play-button" hook="component-play-button">

            {{#if hasManager}}
                {{#if hasEnoughPlayers}}
                    <arena-button class="enabled" hook="play">
                        Enter
                        The
                        Arena
                    </arena-button>
                {{else}}
                    <arena-button class="disabled">
                        You must have at least 6
                        players to enter the arena
                    </arena-button>
                {{/if}}
            {{else}}
                <arena-button class="disabled">
                    You must have a manager
                    to enter the arena
                </arena-button>
            {{/if}}

            {{#if team.inArenaQueue}}
                <intersticial>
                    <img src="/images/minos-team-crest.png"><br>
                    <br>
                    Entering the arena...<br>
                    Waiting for opponent...
                </intersticial>
            {{/if}}

            {{#if team.currentMatch}}
                <intersticial>
                    <img src="/images/minos-team-crest.png"><br>
                    <br>
                    <a href="{{pathFor 'pageMatchResults' matchId=team.currentMatch teamId=teamId}}" class="button">
                        Play Match
                    </a>
                </intersticial>
            {{/if}}

        </div>

    {{else}}

        {{> spinner}}

    {{/if}}

</template>
