<template name="componentTeamFooter">

    <div class="component-team-footer" hook="component-team-footer">

        <ul>
            <li>
                <a href="#">
                    {{#if team}}
                        {{truncate string=team.teamName maxLength=18}}
                    {{else}}
                        No Team...
                    {{/if}}
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="intel-symbol">
                        &#952;
                    </span>
                    <span class="counter intel">
                        {{team.intel}}
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="gold-symbol">
                        &#164;
                    </span>
                    <span class="counter gold">
                        {{team.gold}}
                    </span>
                </a>
            </li>

        </ul>

    </div>

</template>
